# Dependencies
/.bundle
/vendor/
.bundle/
/log/
/node_modules/
tmp/

# Jekyll specific
_site/
/.sass-cache/
/.jekyll-cache/
/.jekyll-metadata

# Gem specific
*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/

# Others
*.DS_Store
*.swp
*~

# Log files
*.log

# Temp files
**/*.orig

# Ignore uploaded files in the uploads folder
/public/uploads

# Ignore cache files
/cache
